.screen {
  align-items: center;
  background-color: rgb(66, 66, 66);
  border-radius: 5px;
  display: flex;
  font-size: 30px;
  flex-direction: column;
  height: 20%;
  justify-content: flex-end;
  margin: 30px 0;
  padding: 20px;
  width: 90%;
}

.screen .up {
  color: white;
  font-size: 35px;
  height: 50%;
  width: 100%;
}
.screen .down {
  color: rgb(145, 145, 145);
  font-size: 25px;
  height: 50%;
  text-align: end;
  width: 100%;
}