@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.app {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Archivo Black', sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}